[module]
  [module.hugoVersion]
    extended = true
    min = "0.110.0"
    max = ""
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'data'
    target = 'data'
  [[module.mounts]]
    source = 'layouts'
    target = 'layouts'
  [[module.mounts]]
    source = 'static'
    target = 'static'
  [[module.mounts]]
    source = "dist/scss"
    target = "assets/scss/modules/fontawesome"
  [[module.mounts]]
    source = "dist/webfonts"
    target = "static/fonts"
  [[module.mounts]]
    source = "dist/svgs"
    target = "assets/svgs/modules/fontawesome"

[params.modules.fontawesome]
  inline = true
  debug = true
  skipMissing = false
