<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ site.Title }}</title>
  {{ partial "head/stylesheet.html" -}}
</head>
<body>
  Settings:
  <ul>
    <li>embed = {{ site.Params.modules.fontawesome.embed }}</li>
    <li>inline = {{ site.Params.modules.fontawesome.inline }}</li>
    <li>debug = {{ site.Params.modules.fontawesome.debug }}</li>
    <li>skipMissing = {{ site.Params.modules.fontawesome.skipMissing }}</li>
  </ul>

  {{ block "main" . }}

  {{ end }}
  {{- partial "assets/symbols.html" . -}}
  {{- partial "footer/scripts.html" (dict "page" .) -}}
</body>
</html>
