{{/* 
    Copyright © 2024 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{- $error := false -}}

{{/* Validate and initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "icon" "args" .Params "named" .IsNamedParams "group" "shortcode") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial"  "shortcodes/fab.html" 
        "warnid"   "warn-invalid-arguments"
        "msg"      "Invalid arguments"
        "details"  ($args.errmsg | append $args.warnmsg)
        "file"     page.File
        "position" .Position
    )}}
{{ end }}

<!-- Initialize arguments -->
{{- $icon := cond .IsNamedParams (or $args.icon $args.class) (delimit .Params " ") -}}
{{- $spacing := $args.spacing | default (not (in (split $args.wrapper " ") "fa-li")) -}}
{{- if not $icon -}}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial"  "shortcodes/fab.html" 
        "warnid"   "warn-invalid-arguments"
        "msg"      "Invalid arguments"
        "details"  (slice "Expected icon name")
        "file"     page.File
        "position" .Position
    )}}
    {{ $error = true }}
{{- end -}}

<!-- Main code -->
{{- if not $error -}}
    {{- partial "assets/icon.html" (dict
        "icon"         (printf "fab %s" $icon)
        "inline-style" (or $args.inlineStyle $args.style)
        "wrapper"      $args.wrapper
        "spacing"      $spacing
    ) -}}
{{- end -}}
