{{/*
    Copyright © 2024 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "icon" "args" . "group" "partial")}}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict
        "partial" "assets/icon.html"
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $args.err }}
{{ end }}

{{- $icon := $args.icon -}}
{{- $src := $args.src -}}

{{- if and (not $icon) (not $src) -}}
    {{ errorf "partial [assets/icon.html] - Missing value for param 'icon' or 'src'" }}
{{- end -}}

{{- $wrapper := $args.wrapper -}}
{{- if $wrapper -}}
    {{/* Handle fa-wrapper special case only when it's the exact value */}}
    {{- if eq $wrapper "fa-wrapper" -}}
        {{- $wrapper = cond (in $args.class "fa-fluid") "w-100" "" -}}
    {{- end -}}
{{- end -}}

{{- $style := or $args.inlineStyle $args.style -}}
{{- $output := "" -}}
{{- $inline := site.Params.modules.fontawesome.inline -}}

{{- if not $error }}
    {{- if $style }}
        {{- $style = printf " style=\"%s\"" $style }}
    {{- end -}}

    {{- $family := "" -}}
    {{- $name := "" -}}
    {{- $attr := "" -}}
    {{- $isFontAwesome := false -}}

    {{- if $src -}}
        {{/* Custom SVG from file - always load as static resource */}}
        {{- $attr = default "" $icon -}}
        {{- $family = "src" -}}
        {{- $name = path.BaseName $src -}}
        {{- $svg := resources.Get $src -}}
        {{- if $svg -}}
            {{- $regex := printf `%s((?:.|\\n)*)%s` "<!--" "-->" -}}
            {{- $content := (replaceRE $regex "" $svg.Content) -}}
            {{- $inject := (replaceRE "xmlns=\\\"(.*?)\\\"" (printf "class=\"svg-inline--fa %s\" fill=\"currentColor\" aria-hidden=\"true\" role=\"img\"%s" $attr (or $style "")) $content) -}}
            {{/* Remove fixed width/height only for fluid icons */}}
            {{- if in $attr "fa-fluid" -}}
                {{- $inject = replaceRE "width=\\\"(.*?)\\\"" "" $inject -}}
                {{- $inject = replaceRE "height=\\\"(.*?)\\\"" "" $inject -}}
            {{- end -}}
            {{- $output = $inject -}}

            {{/* Handle embed mode - convert to symbol reference */}}
            {{- if and (site.Params.modules.fontawesome.embed) (page) -}}
                {{- $symbolId := printf "%s-%s" $family $name -}}
                {{- $definition := index (findRE "<svg[^>]*>" $output 1) 0 -}}
                {{- $output = printf `%s<use href="#%s"></use></svg>` $definition $symbolId -}}

                {{/* Create symbol definition and add to page scratch */}}
                {{- $entry := replaceRE "^<svg " (printf `<symbol id="%s"` $symbolId) $content -}}
                {{- $entry = replaceRE "</svg>$" "</symbol>" $entry -}}
                {{- $entry = replaceRE "xmlns=\"(.*?)\"" "" $entry -}}
                {{/* Remove width/height from symbol definition */}}
                {{- $entry = replaceRE "width=\"(.*?)\"" "" $entry -}}
                {{- $entry = replaceRE "height=\"(.*?)\"" "" $entry -}}
                {{- page.Scratch.Add "icons" (slice $entry) -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{/* Parse icon family and name */}}
        {{- $icon_class := split $icon " " -}}
        {{- $family = (index $icon_class 0) -}}
        {{- $attr = delimit (after 2 $icon_class) " " -}}

        {{/* Normalize and check FontAwesome families */}}
        {{- $family = replace $family "fa-solid" "fas" -}}
        {{- $family = replace $family "fa-regular" "far" -}}
        {{- $family = replace $family "fa-brands" "fab" -}}
        {{- $supportedFAFamilies := slice "fas" "far" "fa" "fab" -}}
        {{- $isFontAwesome = in $supportedFAFamilies $family -}}

        {{- if $isFontAwesome -}}
            {{/* FontAwesome icon - always output simple <i> tag */}}
            {{/* FontAwesome JS (inline=true) or CSS (inline=false) handles rendering */}}
            {{- $name = index $icon_class 1 -}}
            {{- $name = strings.TrimPrefix "fa-" $name -}}
            {{- $output = printf "<i class=\"%s fa-%s %s\"%s></i>" $family $name $attr (or $style "") -}}
        {{- else -}}
            {{/* Other icon families (Bootstrap Icons, Material Design Icons, etc.) */}}
            {{- $name = index $icon_class 1 -}}

            {{- if $inline -}}
                {{/* SVG mode - load static SVG for non-FontAwesome icons */}}
                {{- $path := printf "svgs/%s/%s.svg" $family $name -}}
                {{- $svg := resources.Get $path -}}
                {{- if not $svg -}}
                    {{- $msg := printf "partial [assets/icon.html] - Cannot find icon: %s" (path.Join "assets" $path) -}}
                    {{- if site.Params.modules.fontawesome.skipMissing -}}
                        {{- warnf $msg -}}
                        {{/* Fallback to webfont icon class */}}
                        {{- $output = printf "<i class=\"%s %s-%s %s\"%s></i>" $family $family $name $attr (or $style "") -}}
                    {{- else -}}
                        {{- errorf $msg -}}
                    {{- end -}}
                {{- else -}}
                    {{/* Process SVG content */}}
                    {{- $regex := printf `%s((?:.|\\n)*)%s` "<!--" "-->" -}}
                    {{- $content := (replaceRE $regex "" $svg.Content) -}}
                    {{- $inject := (replaceRE "xmlns=\\\"(.*?)\\\"" (printf "class=\"svg-inline--fa %s %s-%s %s\" fill=\"currentColor\" aria-hidden=\"true\" role=\"img\"%s" $family $family $name $attr (or $style "")) $content) -}}
                    {{/* Remove fixed width/height only for fluid icons */}}
                    {{- if in $attr "fa-fluid" -}}
                        {{- $inject = replaceRE "width=\\\"(.*?)\\\"" "" $inject -}}
                        {{- $inject = replaceRE "height=\\\"(.*?)\\\"" "" $inject -}}
                    {{- end -}}
                    {{- $output = $inject -}}

                    {{/* Handle embed mode - convert to symbol reference */}}
                    {{- if and (site.Params.modules.fontawesome.embed) (page) -}}
                        {{- $symbolId := printf "%s-%s" $family $name -}}
                        {{- $definition := index (findRE "<svg[^>]*>" $output 1) 0 -}}
                        {{- $output = printf `%s<use href="#%s"></use></svg>` $definition $symbolId -}}

                        {{/* Create symbol definition and add to page scratch */}}
                        {{- $entry := replaceRE "^<svg " (printf `<symbol id="%s"` $symbolId) $content -}}
                        {{- $entry = replaceRE "</svg>$" "</symbol>" $entry -}}
                        {{- $entry = replaceRE "xmlns=\"(.*?)\"" "" $entry -}}
                        {{/* Remove width/height from symbol definition */}}
                        {{- $entry = replaceRE "width=\"(.*?)\"" "" $entry -}}
                        {{- $entry = replaceRE "height=\"(.*?)\"" "" $entry -}}
                        {{- page.Scratch.Add "icons" (slice $entry) -}}
                    {{- end -}}
                {{- end -}}
            {{- else -}}
                {{/* Webfont mode - output simple <i> tag for CSS to handle */}}
                {{- $output = printf "<i class=\"%s %s-%s %s\"%s></i>" $family $family $name $attr (or $style "") -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- if and site.Params.modules.fontawesome.debug $isFontAwesome -}}
        {{- printf "<!-- FontAwesome: %s -->" $output | safeHTML }}
    {{ end -}}

    {{- with $wrapper -}}
        <div class="{{ . }}">{{ $output | safeHTML }}</div>
    {{- else -}}
        {{- $output | safeHTML -}}
    {{- end -}}
    {{- if $args.spacing }}&nbsp;{{- end -}}
{{- end -}}
