{{- $class := "" -}}
{{- $style := "" -}}
{{- $wrapper := "" -}}
{{- $spacing := true -}}
{{- if .IsNamedParams -}}
    {{- $class = .Get "class" -}}
    {{- $style = .Get "style" -}}
    {{- $wrapper = .Get "wrapper" -}}
    {{- $spacing = .Get "spacing" | default (not (in (split $wrapper " ") "fa-li")) -}}
{{- else -}}
    {{- $class = delimit .Params " " -}}
{{- end -}}

{{- if not $class -}}
    {{- errorf "Expected icon name: %s" .Position -}}
{{- else -}}
    {{- partial "assets/icon.html" (dict "icon" (printf "fas %s" $class) "style" $style "wrapper" $wrapper "spacing" $spacing) }}
{{- end -}}
