name: Test
on:
  workflow_dispatch:
  push:
    tags:
      - v*
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node-version: [22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out repository
      uses: actions/checkout@v6

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ">1.0.0"

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    - name: Install Dart Sass
      run:  |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo snap install dart-sass
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew install sass/sass/sass
        elif [ "$RUNNER_OS" == "Windows" ]; then
          choco install sass
        fi
      shell: bash

    - name: Perform clean install of npm
      run:  npm ci

    - name: Run the tests
      run: npm run test
